.form
	width: 613px
	height: 841px
	float: right
	background-color: white
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.17)
	-moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.17)
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.17)
	position: relative
	&:before
		content: ''
		position: absolute
		left: -310px
		top: 0
		width: 348px
		height: 491px
		background: url("../img/girl.png") 0 0 no-repeat
	.box
		padding: 40px 38px
		+box
		.name
			color: rgb(1, 1, 1)
			+regular
			font-size: 14px
			font-weight: 400
			line-height: 20px
			text-transform: uppercase
			margin-bottom: 15px
		.type__kitchen
			width: 100%
			+box
			+clr
			.col
				float: left
				width: 50%
				.item
					float: left
					width: 50%
					label
						width: 92px
						height: 68px
						display: block
						border: 1px solid transparent
		.size__kitchen
			width: 100%
			+box
			+clr
			margin-bottom: 38px
			.box__size
				width: 100%
				margin-bottom: 20px
				+box
				+clr
				.col
					float: left
					width: 33.3%
					input
						width: 152px
						height: 29px
						padding: 0 10px
						background-color: rgba(211, 210, 194, 0.8)
						color: rgb(93, 93, 93)
						+regular
						font-size: 10px
						font-weight: 400
			.box__form
				width: 100%
				+box
				+clr
				.selects
					width: 100%
					margin-bottom: 22px
					+box
					+clr
					.col
						float: left
						width: 50%
						.form-group
							float: left
							width: 262px
							height: 29px
							position: relative
							background: #d3d2c2 url("../img/select.png") right 0 no-repeat
							p
								position: absolute
								left: 0
								top: 0
								width: 100%
								height: 100%
								overflow: hidden
								color: rgb(93, 93, 93)
								+regular
								font-size: 12px
								font-weight: 400
								line-height: 30px
								padding-left: 9px
							select
								width: 100%
								height: 29px
								opacity: 0
								cursor: pointer
								position: relative
								border: medium none
								padding-left: 9px
				.info
					width: 100%
					+box
					+clr
					.col
						float: left
						width: 50%
						.item
							width: 100%
							float: left
							margin-bottom: 14px
							position: relative
							label
								display: inline-block
								margin: 0
								cursor: pointer
							input[type="text"]
								width: 182px
								height: 29px
								background-color: rgb(211, 210, 194)
								padding: 0 40px
								color: rgb(93, 93, 93)
								+regular
								font-size: 12px
								font-weight: 400
							textarea
								width: 194px
								height: 46px
								background-color: rgb(211, 210, 194)
								padding: 13px 34px
								border: none
								resize: none
								color: rgb(93, 93, 93)
								+regular
								font-size: 12px
								font-weight: 400
							label[for="email"]
								position: absolute
								top: 50%
								margin-top: -5px
								left: 14px
								width: 12px
								height: 11px
								background: url("../img/email.png") 0 0 no-repeat
							label[for="phone"]
								position: absolute
								top: 50%
								margin-top: -5px
								left: 14px
								width: 18px
								height: 11px
								background: url("../img/phone.png") 0 0 no-repeat
							label[for="name"]
								position: absolute
								top: 50%
								margin-top: -7px
								left: 14px
								width: 15px
								height: 15px
								background: url("../img/name.png") 0 0 no-repeat
							label[for="question"]
								position: absolute
								left: 11px
								top: 10px
								width: 12px
								height: 15px
								background: url("../img/quest.png") 0 0 no-repeat
						.area
							margin-bottom: 6px
						.file
							position: relative
							width: 262px
							height: 29px
							cursor: pointer
							overflow: hidden
							line-height: 29px
							background: url("../img/plus.png") right 0 no-repeat
							input[type="file"]
								position: absolute
								left: 0
								top: 0
								width: 100% !important
								height: 100% !important
								opacity: 0
								cursor: pointer
								padding: 0
								border: 0
								line-height: 1em !important
							span
								display: block
								color: rgb(93, 93, 93)
								+regular
								height: 29px
								padding-left: 10px
								font-size: 10px
								font-weight: 400
								line-height: 29px

				.button
					width: 100%
					input
						width: 148px
						height: 33px
						background-color: rgb(47, 100, 158)
						+regular
						color: #fff
						font-size: 14px
						font-weight: 400
						text-transform: uppercase
		.marketing__text
			width: 100%
			+box
			+clr
			.s-name
				height: 16px
				color: black
				font-family: "Times New Roman"
				font-style: italic
				font-size: 18px
				font-weight: 400
				line-height: 20px
				margin-bottom: 40px
			.list
				float: left
				width: 100%
				+box
				+clr
				.name
					height: 21px
					color: black
					+regular
					font-size: 18px
					font-weight: 400
					line-height: 20px
					margin-bottom: 15px
					text-transform: uppercase
				.wrap
					width: 100%
					+box
					+clr
					.item
						float: left
						width: 100%
						margin-bottom: 12px
						height: 26px
						.number
							width: 26px
							height: 26px
							border: 1px solid rgb(253, 189, 25)
							text-align: center
							color: black
							+regular
							font-size: 14px
							font-weight: 400
							line-height: 25px
							text-transform: uppercase
							float: left
							margin-right: 10px
						.text
							display: table-cell
							vertical-align: middle
							height: 26px
							color: black
							+regular
							font-size: 14px
							font-weight: 400
							line-height: 20px

